
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif!important;
   
}

.video_placeholder{
    border: 1px solid green;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: hidden;
  }


#the_video{
    position: absolute;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -30%);
    z-index: -99;
    } 

.about-cover{
    width: 100%;
    text-align: center;
    font-size: 24px;
    border:2px solid blue;
    position: absolute;
    color:#fff;
    top: 43%;
    left: 50%;
    transform: translateX(-50%);

}

    /* page1:  */
    

    

    
        /*the menu nav bar start ------->*/
    /*the menu nav bar start ------->*/
    
    .menu {
        z-index: 1000;
        position: fixed;
        top: 0;
         border: 1px solid red;
        width: 100%;
        /* height: 8%; */
        display: flex;
        background: #272626; opacity: 0.8;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    }
    .menu ul{
     margin: auto;
      margin-right: 50px;
      width: 60%;
    }
    .menu li {
        border: 1px solid yellow;
       float: right;
        list-style: none;
        font-size: 16px;
       /* margin: 0 auto; */
       margin: 12px;
        margin-left: 12px;
        padding: 6px 6px 6px 10px;
    }
    
    .menu li a {
        text-decoration: none;
        color:#fff;
        transition: color linear 0.15s;
        cursor: pointer;
    }
    
    .menu .menu-logo {
        width: 45px;
        height: 45px;
        margin: auto;
        margin-left: 20px;
    }
    
    .menu .menu-logo a {
        color: #fff;
    }
    
    .menu a:hover, .menu  {
        text-decoration: none;
        color: #17ad99;
    }
    
    .toggle-nav {
        display: none;
        /* z-index: 9; */
    }


.vision{

    border: 1px solid purple;
    margin: 0 auto;
    padding: 50px 0;
    line-height: 1.43;
    font-size: 28px;
    max-width: 842px;
}   
.vision>p{
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
   text-align: center;
} 
.our-story-founder-section {
    border: 2px solid red;
    margin-top: 260px;
    background-color: rgb(159, 209, 212);
    text-align: center;
}

.our-story-founder-section-content-container{
    border: 2px solid blue;
    margin: 90px auto 30px;
    width: 90%;
    /* height: 900px; */
    
}
.our-story-founder-section-content-container>img{
    margin-top: -390px;
    margin-bottom: 10px;
    width: 70%;
    z-index: 999;
}
.our-story-founder-section-title-container {
   /* border: 1px solid yellow; */
    margin-top: 0px;
    margin-bottom: 30px;
    line-height: 1.14;
    font-size: 35px;
    font-weight: 500;
}

.our-story-founder-section-body-container {
    margin-bottom: 108px;
    padding-right: 27px;
    padding-left: 27px;
    line-height: 1.5;
    font-size: 20px;
}
.our-story-founder-section-body-container>p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
}

.service-slider {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
.service-slide-item{
    /* flex: 1 0 33.3%; */
    display: flex;
    justify-content: center;
    width: 33.33%;
    margin-bottom: 40px;
}
.service-slide-item a {
    position: relative;
    display: block;
}


a {
    text-decoration: none;
}
article.card{
    margin-top: 30px;
    border: 1px solid rgba(0,0,0,.125);
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}



article.card a.img_block {
    border: 1px solid red;
    display: block;
    font-size: 0;
}
article.card a.img_block > img{
    display: block;
    margin: 0 auto;
    border: 1px solid green;
    height: 70px; 
    width: 70px; 
    visibility: visible;
}

article.card{transform:scale(1,1);transition: all 0.1s ease-in-out;}
article.card:hover{transform:scale(1.08,1.08);}


article.card div.content_block{
    padding: 10px;
}
article.card h1 {
    padding-top: 10px;
   padding-bottom: 10px;
    font-size: 1.2rem;
    text-align: center;
}
article.card p {
    border: 1px solid orange;
    width: 80%;
    font-size: 1rem;
    margin: 0 auto ;
    text-align: center;
}


.img_block>img{
    
    vertical-align: middle;
    border-radius: 10px;
   
}




/* bottom-banner */


.wrapper-style{
    /* background-attachment: scroll; */
    width: 100%;
    text-align: center;
    border: 2px solid blue;
    color: white;
    background-image: url(../picture/people/man_laptop3.jpg);
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;

}

.foot{
    padding: 0;
    border: 8px solid green;
    margin: auto;
}
.foot>h1.foot1{
    border: 3px solid yellow;
    font-size: 2.4rem;
    font-weight: bold;
    color: white;
    margin: 70px auto 30px;
    /* padding-top: 100px; */
    /* padding-bottom: 0px; */
}
.foot>p{
    font-size: 1.3rem;
    line-height: 1.6;
    width: 70%;
    margin: 0 auto;
    /* display: inline-flex; */
    text-align: center;
    /* margin-bottom: 30px; */
    border: 2px solid purple;
}


.get-started-btn{
    display: inline-block;
    margin: 30px auto 70px;
    padding: 0 15px;
    width: 240px;
    height: 56px;
    font-size: 18px;
    color: #fff;
    background-image:linear-gradient(270deg,#64d4b8,#17ad99);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 25px 0px;
    border-radius: 4px;
    text-align: center;
    line-height: 56px;
    cursor: pointer;
}

/* footer */
.footer-part1{
    border: 1px solid green;
    width: 80%;
    align-items: flex-start;
    /* border-bottom: none; */
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
}
.language-container{
    width: 20%;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid red;
    margin-top: 50px;

    color: grey;
    line-height: 1.6;
    font-size: 14px;

}
.footer-language>h3{
    display: initial;
    color: black;
}
.language-container>ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 50px;
    
}

.footer-icon{
    display: flex;
    border: 1px solid blue;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    justify-content: center;
    align-items: flex-end;
}
.footer-icon img{
    padding-right: 14px;

}

